:root {
  // dark mode
  --dark-blue: hsl(209, 23%, 22%); //(Dark Mode Elements)
  --very-dark-blue: hsl(207, 26%, 17%); //(Dark Mode Background)

  // light mode

  --very-dark-blue-light: hsl(200, 15%, 8%); //(Light Mode Text)
  --dark-gray: hsl(0, 0%, 52%); //(Light Mode Input) 
  --very-light-gray: hsl(0, 0%, 98%); // (Light Mode Background) 
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  margin: 0;
}

header {
  height: 50px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);

  &>div {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}

input {
  width: 100%;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}

.input {
  position: relative;
  height: 40px;
}

.input,
.select,
.card {
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.select {
  width: 145px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &>div:first-of-type {
    margin-left: 1em;
  }

  &>div {
    display: grid;

    &>svg {
      width: 24px;
      height: 24px;
      margin-right: .5em;
    }
  }

}

.dropdown {
  width: 145px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: .3em;
  border-radius: 5px;
  line-height: 30px;

  &>div {
    padding: 0 1em;
    cursor: pointer;

    &:hover {
      background-color: var(--dark-gray);
    }
  }
}

.filter {
  margin-top: 2em;
}

.container {
  &-dark-mode {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &-filters {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em 0;
  }

  &-main {
    width: 93%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-gap: 2em 0;
    margin: auto;
    justify-items: center;
  }

  &-detail {
    &>div:first-of-type {
      height: 100px;
      width: 88%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      margin-top: 4em;
    }
  }
}

.card {
  width: 80%;
  border-radius: 5px;
  cursor: pointer;

  &>.flag {
    width: 100%;
    height: 172.8px;

    &>img {
      width: 100%;
      min-height: 172.8px;
      max-height: 172.8px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &:hover {
    box-shadow: 3px 1px 14px 2px var(--very-dark-blue-light);
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 3em 1em;

  &-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
  }
}

.dark-mode {
  margin-left: .5em;
}

.input {
  display: flex;
  align-items: center;

  &>div:first-of-type {
    height: 40px;
    display: grid;
    place-items: center;
    padding: 0 1em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.btn {
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 1px 14px 2px var(--very-dark-blue-light);
  }

  &-back {
    display: flex;
    align-items: center;
    padding: .5em 1.7em;

    &>svg {
      margin-right: .5em;
    }
  }

  &-borders {
    margin: .5em 1em .5em .5em;
    padding: .5em 1em;
  }
}

.detail {
  &-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    justify-content: left;
  }

  &-content {
    width: 100%;

    &>h2 {
      margin-bottom: 0;
      font-size: 1.6em;
    }
  }

  &-lists {
    width: 90%;

    &>ul {
      padding: 0;
      list-style-type: none;
      line-height: 25px;

      &>li {
        font-size: .9em;
      }
    }

    &>ul:last-of-type {
      margin-top: 3em;
    }
  }

  &-borders {
    margin-top: 2em;

    &>div:first-of-type {
      white-space: nowrap;
    }

    &>div {
      display: flex;
      flex-wrap: wrap;
      flex-flow: wrap;
    }
  }
}

.flag-detail {
  width: 100%;
  height: 100%;

  &>div {
    width: 100%;

    &>img {
      width: 100%;
    }
  }
}

.disabled {
  display: none;
}

@media screen and (min-width: 1024px) {
  .input {
    width: 30%;
  }

  .filter {
    margin-top: 0;
  }

  header {
    &>div {
      padding: 0 1em;
    }
  }

  .main-title {
    font-size: 1.3em;
  }

  .container {
    &-filters {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;
      padding: 2em 1em;
    }

    &-main {
      grid-template-columns: repeat(4, 25%);
      grid-gap: 4em 0;
    }
  }

  .detail {
    &-main {
      flex-direction: row;
    }

    &-lists {
      display: flex;
      justify-content: space-between;

      &>ul:last-of-type {
        margin-top: unset;
      }
    }

    &-border {
      display: flex;
      align-items: baseline;
    }
  }

  .flag-detail {
    &>div {
      width: 80%;
    }
  }
}